body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  text-align: center;
  margin: 30px 30px 0 30px;
  
}
.App > div{
  flex:1 ;
}
.header > *{
  align-self: center;
}
@media(min-width: 600px){
.header{
  background-color: darkgrey;
  display: flex;
  flex-direction: rows;
  align-items: center;
}
}
@media(max-width: 650px){
  .header{
  
    background-color: darkgray;
    display: flex;
    flex-direction: column;
  }
}
.heading_1{
  display: inline;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: xxx-large;
  text-align: left;
  flex: 1;
  
}
@media(min-width: 600px){
.menu{
  flex:1;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  
}
}
@media(max-width: 650px){
  .menu{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
  }
.menu> li:hover {
  background-color: gray;
  color: black;
}

.menu> li{
  list-style: none;
  flex: 1;
  color: white; 
  font-size: x-large;
  text-decoration: none;
  text-align: center;
}


.dropbtn {

  position: relative;

}
.dropbtn > span {
  z-index: 2;
  position: relative;  /* This is important! */
  cursor: pointer;
}
.features-menu {
  display: flex;
  flex-direction: column;
  background: gray;
  position: absolute;     /* Add these */
  padding-left: 30px;
  z-index: 1;
  left: 0;
  right: 0;
}

.features-menu li {
  list-style: none;
  border-bottom: 1px solid #FFF;
  padding: 10px 0px 0px 0px;
}

.features-menu li:last-of-type {
  border-bottom: none;
}
.dropbtn:hover .features-menu {    /* This used to be `.features-menu` */
  display: flex;                    /* Leave everything else alone */
  flex-direction: column;
  background: gray;

}
.features-menu {                    /* Add this as a new rule */
  display: none;

}


.blogs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0 0 0;
}
.blog{
  display: flex;
  flex-direction: column;
  border:solid lightgray 5px;
  padding: 10px 20px 10px 20px;
  width: 500px;
  height:300px;
  margin-top: 10px;
}
.blog>li{
  list-style: none;
}
.topic{
font-size: xx-large;
font-weight: bolder;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.input-form{
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
.input-area{
  width: 100%;
  height: 200px;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75{
    width: 100%;
    margin-top: 10px;
  }
}
.add-btn{
  background-color: gray;
  color: white;
  height: 50px;
  width:100%;
  margin-top:20px;
}

.nav-links{
  color: white;
  text-decoration-line: none;
}
.current-page{
  border-bottom: 4px solid white;
}